<div class="bootstrap-wrapper" *ngIf="!isSubmitted">
    <div class="container-fluid" *ngIf="questions">
        <div class="row" *ngIf="questions[0]">
            <div class="col-md-2">
                <!-- Instruction-->
                <mat-card>
                    <mat-card-content>
                        <h2><b><u>Instructions</u></b></h2>
                         <ul>
                             <li class="mt10">Do not refresh the page otherwise you will get the new question in this quiz.</li>
                             <li class="mt10">Do not switch the tabs.</li>
                             <li class="mt10">Do not minimize the window.</li>
                         </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8">
                <!-- Question-->
                <!-- <ng-container>
                    <h1>On going quiz is <b>{{questions[0].tblQuiz.title}}</b></h1>
                </ng-container> -->
                <mat-card>
                    <div class="container text-center">
                      <img src="../../../assets/add-quiz.jpg" width="25%" alt="view question icon" />
                      <h1><b>{{questions[0].tblQuiz.title}} Quiz</b></h1>
                  </div>
                </mat-card>
                  
                <mat-card *ngFor="let q of questions;let i=index" class="mt10">
                    <mat-card-content>
                        <h3><b>Q-{{i+1}})</b><span class="ml20" [innerHTML]="q.content"></span></h3>
                    
                    <mat-divider></mat-divider>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                             <input type="radio" [value]="q.question1" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question1}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question2" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question2}}
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question3" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question3}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question4" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question4}}
                        </div>
                    </div>
                   </mat-card-content> 
                </mat-card>

                <div class="container text-center mt20 mb20">
                    <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Exam</button>
                </div>
                
    
            </div>
            <div class="col-md-2 text-center">
                <!-- Timmer-->
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <b><u>Progress</u></b>
                        </mat-card-title>
                        <mat-card-subtitle class="mt10">
                            Quiz will autometically submitted when timmer will reache <b> 00:00 m/s.</b>
                        </mat-card-subtitle>
                       
                    </mat-card-header>
                    <h4 class="mt10" style="color: blue;">Remaining time is: <b> {{getFormatedTime()}} </b></h4>
                    <mat-card-content class="mt20">
                        <mat-spinner
                          mode="determinate"
                          color="warn"
                          style="margin:auto;"
                          [value]="(timer/(this.questions.length * 2 * 60))*100"
                          >
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<!--Show the result-->
<div class="bootstrap-wrapper" *ngIf="isSubmitted">
    <div class="container-fluid" *ngIf="questions[0]">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="text-center">
                    <div class="container text-center mt20">
                        <img src="../../../assets/results.jpg" style="width: 40%" alt="view-profile" />
                        <h1 class="text-center"><u>Quiz Result</u></h1>
                    </div>
                    <mat-card-content>
                        <table class="table text-center" border="1">
                            <tr>
                                <td> Marks Got : </td>
                                <td> {{marksGot}}  </td>
                            </tr>
                            <tr>
                                <td> Currect Answer : </td>
                                <td> {{currectAnswers}}  </td>
                            </tr>
                            <tr>
                                <td> Questions Attempted : </td>
                                <td> {{attempted}} </td>
                            </tr>
                         </table>   

                    </mat-card-content>
                     <mat-card-actions>
                        <button type="submit" (click)="printPage()" mat-raised-button color="primary">Print</button>
                        <button type="reset" class="ml10 mb20" routerLink="/user-dashboard/0" mat-raised-button color="warn">Home</button>
                     </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>
</div>

<!-- if quiz not available then-->
<div class="col-md-12" *ngIf="questions.length==0">
    <mat-card>
        <mat-card-content>
            <div class="text-center">
                <h1 class="red"><b>No questions are available in this quiz !!</b></h1>
                <br />
                <img src="../../../assets/no-data.jpg" width="40%" alt="quiz" />
                <br />
                
            </div>
            <mat-card-actions class="text-center">
                <button class="ml10 mb20" routerLink="/user-dashboard/0" mat-raised-button color="primary">Go to Home</button>
             </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>