<div class="bootstrap-wrapper" *ngIf="!isSubmitted">
    <div class="container-fluid">
        <div class="row" *ngIf="questions">
            <div class="col-md-2">
                <!-- Instruction-->
                <h1>Instruction</h1>
            </div>
            <div class="col-md-8">
                <!-- Question-->
    <ng-container>
                    <h1>On going quiz is <b>{{questions[0].tblQuiz.title}}</b></h1>
                </ng-container>
                  
                <mat-card *ngFor="let q of questions;let i=index" class="mt10">
                    <mat-card-content>
                        <h3><b>Q-{{i+1}})</b><span class="ml20" [innerHTML]="q.content"></span></h3>
                    
                    <mat-divider></mat-divider>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                             <input type="radio" [value]="q.question1" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question1}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question2" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question2}}
                        </div>
                    </div>
                    <div class="row mt10">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question3" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question3}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [value]="q.question4" [name]="i+''" [(ngModel)]="q.givenAnswer"/>&nbsp; {{q.question4}}
                        </div>
                    </div>
                   </mat-card-content> 
                </mat-card>

                <div class="container text-center mt20 mb20">
                    <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Exam</button>
                </div>
                
    
            </div>
            <div class="col-md-2 text-center" style="margin-top: 49px;">
                <!-- Timmer-->
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                        </mat-card-title>
                        <mat-card-subtitle class="mt10">
                            Quiz will autometically submitted when timmer will reache <b> 00:00 m/s.</b>
                        </mat-card-subtitle>
                       
                    </mat-card-header>
                    <h4 class="mt10" style="color: blue;">Remaining time is: <b> {{getFormatedTime()}} </b></h4>
                    <mat-card-content class="mt20">
                        <mat-spinner
                          mode="determinate"
                          color="warn"
                          style="margin:auto;"
                          [value]="(timer/(this.questions.length * 2 * 60))*100"
                          >
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<!--Show the result-->
<div class="bootstrap-wrapper" *ngIf="isSubmitted">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="text-center">
                    <div class="container text-center mt20">
                        <img src="../../../assets/results.jpg" style="width: 40%" alt="view-profile" />
                        <h1 class="text-center"><u>Quiz Result</u></h1>
                    </div>
                    <mat-card-content>
                        <table class="table text-center" border="1">
                            <tr>
                                <td> Marks Got : </td>
                                <td> {{marksGot}}  </td>
                            </tr>
                            <tr>
                                <td> Currect Answer : </td>
                                <td> {{currectAnswers}}  </td>
                            </tr>
                            <tr>
                                <td> Questions Attempted : </td>
                                <td> {{attempted}} </td>
                            </tr>
                         </table>   

                    </mat-card-content>
                     <mat-card-actions>
                        <button type="submit" mat-raised-button color="primary">Print</button>
                        <button type="reset" class="ml10 mb20" routerLink="/user-dashboard/0" mat-raised-button>Home</button>
                     </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>
</div>
