<!-- for material card -strat-->
<mat-card>

    <mat-action-list>
   
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/user-dashboard/0"> 
           <mat-icon mat-list-icon>home</mat-icon> Home   
        </button>

        <button mat-list-item> 
            <mat-icon mat-list-icon>list</mat-icon> All Quizzes   
         </button>
  
        <button mat-list-item *ngFor="let c of categories"> 
           <mat-icon mat-list-icon>quiz</mat-icon> {{c.title}}   
        </button>
        
        <button mat-list-item> 
           <mat-icon mat-list-icon>logout</mat-icon> Logout  
        </button>
   
    </mat-action-list>
   
   </mat-card>
   <!-- for material card -end-->