<p>
    <mat-toolbar color="primary">
      <a 
       routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
      </a>
      <span>Exam Portal</span>
      <span class="example-spacer"></span>
      <a *ngIf="!isLoggedIn"
       routerLink="signIn" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <!-- <mat-icon>login</mat-icon> -->
       Login
      </a>
      <a *ngIf="!isLoggedIn"
      routerLink="signUp" mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
        <!--  <mat-icon>app_registration</mat-icon> -->
        Register
      </a>
      <a *ngIf="isLoggedIn && user != null"
       routerLink="/admin-dashboard/profile" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <!-- <mat-icon>login</mat-icon> -->
        {{ loginService.getUser().userName}}
      </a>
      <a *ngIf="!isLoggedIn"
       routerLink="aboutUs" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
       <!-- <mat-icon>login</mat-icon> -->
       About us
      </a>
    <div class="ml20">
      <a (click)="logout()" 
       *ngIf="isLoggedIn"
       mat-icon-button class="example-icon ml20 mr20" aria-label="Example icon-button with share icon">
        <!--  <mat-icon>app_registration</mat-icon> -->
        Logout
      </a>
    </div>
    </mat-toolbar>
</p>