<mat-card *ngFor="let d of quizzes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{d.title}}</mat-card-title>
      <mat-card-subtitle>{{d.tblCategories.title}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p>
          {{d.discription}}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" mat-stroked-button color="primary"> Questions </button>
        <button mat-stroked-button color="primary"> Maximum Marks: {{d.maxMarks}} </button>
        <button mat-stroked-button color="primary"> Questions: {{d.noOfQuestion}} </button>
        <button mat-stroked-button color="primary"> Update </button>
        <button mat-stroked-button color="primary"> Attemps </button>
        <button mat-stroked-button color="warn" (click)="deleteQuiz(d.quizId)"> Delete </button>
      </mat-card-actions>
 </mat-card>   

 <div class="container text-center mt20">
    <button type="submit" routerLink="/admin-dashboard/add-quiz" mat-raised-button color="primary">Add new quiz</button>
 </div>